# Домашнее задание 9

### Задание 1
Напишите функцию date_range, которая возвращает список дней между датами start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

In [1]:
from datetime import datetime

In [2]:
from datetime import timedelta

In [3]:
start_date = '2019-05-20'
end_date = '2019-05-30'

In [4]:
def date_range(start,end_):
    start = datetime.strptime(start, '%Y-%m-%d')
    end_ = datetime.strptime(end_, '%Y-%m-%d')
    stats_list = []
    current_dt = start
    while current_dt <= end_:
        current_dt += timedelta(days=1)
        stats_list.append(current_dt)
    return stats_list

In [67]:
date_range('2019-05-20','2019-05-24')

[datetime.datetime(2019, 5, 21, 0, 0),
 datetime.datetime(2019, 5, 22, 0, 0),
 datetime.datetime(2019, 5, 23, 0, 0),
 datetime.datetime(2019, 5, 24, 0, 0),
 datetime.datetime(2019, 5, 25, 0, 0)]

### Задание 2
Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если start_date > end_date должен возвращаться пустой список.

In [60]:

def date_range3(start,end_):
    try:
        start = datetime.strptime(start, '%Y-%m-%d')
        end_ = datetime.strptime(end_, '%Y-%m-%d')
        stats_list = []
        current_dt = start
        while current_dt <= end_:
            current_dt += timedelta(days=1)
            stats_list.append(current_dt)
    except:
        stats_list = []
    return stats_list

In [70]:
date_range3('2019-05-20','2019-05-23 12:00')

[]

In [69]:
date_range3('2019-05-20','2019-05-23')

[datetime.datetime(2019, 5, 21, 0, 0),
 datetime.datetime(2019, 5, 22, 0, 0),
 datetime.datetime(2019, 5, 23, 0, 0),
 datetime.datetime(2019, 5, 24, 0, 0)]

### Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [72]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [146]:
def date_chek(a):
    result = True
    for i in stream:
       
        try:
            i=datetime.strptime(i,'%Y-%m-%d')
        except:
            result = False
        
        print(i, result)

In [147]:
date_chek(stream)

2018-04-02 00:00:00 True
2018-02-29 False
2018-19-02 False

### Задание 5
В последнем примере поиска по словарю мы использовали 3 столбца. Напишите функцию, которая формирует словарь для поиска по n столбцам.

In [148]:
import pandas as pd

In [149]:
stats = pd.read_csv('stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [182]:
line_to_find = ('20', '20552', '3')

In [162]:
line_to_find1 = ('20', '20552')

In [199]:
def find_el(a,n,c):
    stats_dict = {}
    with open(a) as a:
        for line in a:
            line = line.strip().split(',')
            stats_dict[tuple(line[:n])] = line[n]
        coast = stats_dict[c]
        print(coast)

In [200]:
find_el('stats.csv',3,line_to_find)

39156

In [201]:
find_el('stats.csv',2,line_to_find1)

3