# Домашняя работа 7

#### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг 
- оценка 4 и меньше - средний рейтинг 
- оценка 4.5 и 5 - высокий рейтинг \
Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [72]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [25]:
def rating(a):
    """Классификация по рейтингу"""
    if a <= 2:
        a = "низкий рейтинг"
    elif a <= 4:
        a = 'средний рейтинг'
    elif  4.5 <= a <=5:
        a = 'высокий рейтинг'
    else:
        a = 'без группы'
    return a

In [29]:
data['class'] = data['rating'].apply(rating)
data.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [36]:
geo = pd.read_csv('keywords.csv')
geo.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [116]:
def geo_class(a):
    if  'москва' in a or 'тула' in a or  'ярославль' in a:
        return('Центр')
    elif 'петербург' in a or 'псков' in a or  'мурманск' in a:
        return('Северо-Запад')
    elif 'владивосток' in a or 'сахалин' in a or  'хабаровск' in a:
        return('Дальний Восток')
    else:
        return('None')

In [117]:
geo['geo_class'] = geo['keyword'].apply(geo_class)
geo[ (geo['geo_class']!='None') ]. head()

                        keyword   shows       geo_class
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

### Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [80]:
film = pd.read_csv('movies.csv')
rating_movi = pd.read_csv('ratings.csv')
years = list(range(1950,2011))

In [108]:
def production_year(a):
    for year in years:
        if str(year) in a:
            return year
    return '1900'

In [113]:
film['year'] = film['title'].apply(production_year)
film_rating = film.merge(rating_movi)
film_rating = film_rating.groupby('year').mean().reset_index()
film_rating = film_rating[['year','rating']].sort_values('rating', ascending=False)
film_rating.head()

    year    rating
7   1957  4.014241
22  1972  4.011136
2   1952  4.000000
4   1954  3.994220
1   1951  3.983539